.info_pagina{
    text-align: center;
    color: rgb(0, 152, 0);
}
main{
    align-items:center;
    text-align:justify;
}
#file{
    padding-right: 80px;
}
#btnAnunciar{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(0, 168, 0);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
form input{
    border-radius: 4px;
    border-width: 01px;
}
form select{
    border-radius: 4px;
}
